node_modules
.cache 
.temp
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*


node_modules
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
