// 滚动条
::-webkit-scrollbar {
  /*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
  width: 6.5px;
  height: 8px;
}
::-webkit-scrollbar-track {
  /*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
  // background: #f8f9fa;
  display: none;
}
::-webkit-scrollbar-track-piece {
  /*内层轨道，滚动条中间部分（位置4）*/
  // background: #f8f9fa;
  display: none;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面可以拖动的那部分（位置5）*/
  background: var(--theme-color);
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  /*边角（位置6）*/
  background: #c0c0c0;
}

// 主页文字
.home.project .hero h1,
.home.project .hero .description,
.home.project .hero .action {
  margin: 20px;
}

// 提醒
strong {
  color: var(--black);
}

// 主页按钮
.home.project .hero .action-button {
  border-radius: 40px;
}

// 字体
// @import url(https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.6.0/style.css);
// @import url(https://unpkg.com/lxgw-wenkai-lite-webfont@1.6.0/style.css);
@import url(https://jsd.cdn.zzko.cn/npm/lxgw-wenkai-lite-webfont@1.6.0/style.css);
:root {
  --font-family-fancy: 'LXGW WenKai Lite', sans-serif;
  --font-family: 'LXGW WenKai Lite', sans-serif;
  --font-family-code: 'LXGW WenKai Lite', sans-serif;
}
* {
  font-family: 'LXGW WenKai Lite', sans-serif;
}
