@import './element/main.scss';
@import './element/xnkl.scss';

// 主页文字
.home.project .hero h1,
.home.project .hero .description,
.home.project .hero .action {
  margin: 30px;
}

// 提醒
strong {
  color: var(--black);
}

// 主页按钮
.home.project .hero .action-button {
  border-radius: 45px;
}

.home.project .hero h1,
.home.project .hero .description,
.home.project .hero .action {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-info {
  text-align: center;
}

.nav-links {
  margin-left: 20px !important;
}
